.container{
  background-color: #666666;
  width:100%;
  height:1100px;
  text-align: center;	
  font-size: 30px;
  color: #FFFfff;
  font-family:'Bungee Inline', cursive;
}

.hangman{
	position: absolute;
	bottom: 0px;
	height:50%;
	margin: 0 auto;
}

.alphabet{
  width: 450px;
  height:300px;
  color: #ffffff;
  background-color: black;
}

.letterBlanks {
  color: #ffffff;
  width: 200px;
  height: 100px;
  font-size: 30px;
  position: absolute;

}

#introScreenContent{
  margin-left: 27%;
  max-width: 400px;
  height: 200px;
  padding: 20px;
  color: #666666;
  background-color: white;
  margin: 80 auto;
  text-align: center;
  font-family:'Bungee Inline', cursive;
}

#introScreen{
  background-color:black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button{
  padding:10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  cursor: hand;
  cursor: pointer;
  font-size: 14pt;
  background-color:#666666;
  color:#ffffff;
  margin: 0 auto;
}
div{
  margin-bottom: 40px;
}

